name: Quality Check

on:
    pull_request:
        branches: ["main"]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive
                  fetch-depth: 0

            - name: Check Nixpkgs inputs
              uses: DeterminateSystems/flake-checker-action@main
              with:
                  fail-mode: true

            - name: Install Nix
              uses: DeterminateSystems/nix-installer-action@main

            - name: Check
              run: |
                  nix develop --command \
                      just check

            - name: Check Tailwind
              run: |
                  nix develop --command \
                      just check-tailwind

            - name: Build Docs
              run: |
                  nix develop --command \
                        just build
